<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612710161167-ebo62s939skdc203o7ppqg5vg33v9klc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612710161167-ebo62s939skdc203o7ppqg5vg33v9klc</string>
	<key>API_KEY</key>
	<string>AIzaSyBHawg1nw86_0TGP0pN43E3TG3JVbVCMaU</string>
	<key>GCM_SENDER_ID</key>
	<string>612710161167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackkorea2022</string>
	<key>PROJECT_ID</key>
	<string>hackkorea2022</string>
	<key>STORAGE_BUCKET</key>
	<string>hackkorea2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612710161167:ios:23f5cec32939dce2b5fc7a</string>
</dict>
</plist>